<div class="content">
  <h2>The Hackett Group</h2>
  <div class="container">
    <div class="sidebar">
      <ul>
        <li><a href="#"><i class="icon-dashboard"></i> Dashboard</a></li>
        <li><a href="#"><i class="icon-accounts"></i> Accounts</a></li>
        <li><a href="#"><i class="icon-activities"></i> Activities</a></li>
      </ul>
      <div class="user-profile">
        <div class="user-info-row">
          <img src="http://wiki.snoutslouts.org/images/8/89/Sample_profile_pic.jpg" alt="User Image">
          <div class="user-info">
            <p>John Smith</p>
            <p>Principal</p>
          </div>
        </div>
        <a href="#" class="sign-out"><i class="icon-sign-out"></i> Sign Out</a>
      </div>
    </div>
    <div class="main-content">
      <div class="charts">
        <div class="chart">
          <app-vehicle-chart></app-vehicle-chart>
        </div>
        <div class="chart">
          <app-population-chart></app-population-chart>
        </div>
      </div>
    </div>
  </div>
</div>

