.content {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: 0px 20px 30px 20px;
  box-sizing: border-box;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.header-logo {
  margin-top: 20px;
  margin-bottom: 20px;
}

.logo img {
  width: 100%;
  margin-bottom: 20px;
}

.main-content {
  flex: 1;
  padding: 20px 40px;
  background-color: white;
  border-radius: 10px;
}

.header {
  margin-bottom: 20px;
  text-align: center;
  background-color: var(--primary-color);
  color: #FFFFFF;
}

.charts {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .charts {
    display: flex;
    flex-direction: column;
  }
}

.chart-population {
  width: 60%;

  @media (max-width: 1024px) {
    width: 100%;
    margin-top: 20px;
  }
}

.chart-vehicle {
  width: 30%;

  @media (max-width: 1024px) {
    width: 100%;
  }
}

h1, h2 {
  font-family: 'Open Sans', sans-serif;
}

.footer {
  background-color: var(--secondary-color);
  color: #FFFFFF;
}

.spaced-list li {
  margin-bottom: 10px;
}

.population-chart-title {
  font-weight: 500;
}
