<div class="sidebar">
  <ul>
    <li><a href="#"><i class="fa fa-house"></i> Dashboard</a></li>
    <li><a href="#"><i class="fa fa-users"></i> Accounts</a></li>
    <li><a href="#"><i class="fa fa-arrows-rotate"></i> Activities</a></li>
  </ul>
  <div class="user-profile">
    <div class="user-info-row">
      <img src="http://wiki.snoutslouts.org/images/8/89/Sample_profile_pic.jpg" alt="User Image">
      <div class="user-info">
        <span><b>John Smith</b></span>
        <br>
        <span>Principal</span>
      </div>
    </div>
    <a href="#" class="sign-out"><i class="fa fa-right-from-bracket"></i> Sign Out</a>
  </div>
</div>
