/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #0F335B;
  --secondary-color: #4D5358;
  --background-color: #EBF3FA;
  --sidebar-color: #E3EFF8;
  --border-color: #D9E7F5;
}

body {
  background-color: var(--background-color);
  color: var(--primary-color);
  font-family: 'Open Sans', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
